.App {
    padding: 40px
}

ul {
    padding: 0
}

.navbar-ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.gallery>div:hover {
    animation-name: zoom-in;
    animation-duration: 1s;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

@keyframes zoom-in {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1);
    }
}