.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
    background-color: rgb(248, 249, 250);
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.navbar input {
    padding: 0.375rem 0.75rem;
    font-size: 18px;
}

.navbar form {
    display: flex;
    align-items: center;
}