.SingleBook img {
    height: 500px;
    object-fit: cover;
}

.SingleBook {
    border: 1px solid gainsboro
}

.card-body {
    height: 80px;
    display: flex;
    align-items: center;
}

.Card-Container:has(.SingleBook.selected) {
    border: 2px solid red;
}

.Card-Container {
    border: 2px solid gainsboro;
    border-radius: 0.375rem;
}

.comment-area {
    animation-name: expansion;
    animation-duration: 2s;
    overflow-y: scroll;
    max-height: 580px;
}

@keyframes expansion {
    0% {
        width: 30%;
    }

    100% {
        width: 100%;
    }
}