body {
    text-align: center;
    margin: 0;
    color: #333;
    font-family: Georgia, serif;
}
header img {
    width: 200px;
}
nav span span {
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(0, 99, 99);
}
nav {
    background-color: rgb(253, 253, 239);
    border-top: 1px solid #ffd977;
    padding: 1rem 0;
    margin-bottom: 4rem;
    color: rgb(9, 50, 58);
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}
main img {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
h5 {
    color: #9d9d9d;
    text-align: center;
    margin-top: 1rem;
}
main {
    text-align: left;
    margin: auto;
    width: 50%;
}
div p {
    text-align: left;
    color: rgb(197, 71, 26);
}
section div {
    border-left: 1px solid orange;
    padding-left: 1rem;
}
a{
    color: darkcyan;
}
h2 {
    border-bottom: 1px solid lightblue;
    padding-bottom: 1rem;
    font-weight: 400;
}
