.BookCard {
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
}

.BookContainer {
    height: 600px;
}

.CardBody {
    position: absolute;
    bottom: 0px
}

.BookCard img {
    height: 500px;
    object-fit: cover;
}