body {
    text-align: center;
    margin: 0;
    color: #333;
    font-family: Georgia, serif;
  }

  header img {
    width: 200px;
    margin: 1rem 0;
  }

  nav {
    background-color: #fefbf1;
    padding: 1rem 0;
    border-top: 1px solid #ffd977;
    color: #004d4d;
    font-size: 0.8rem;
    margin-bottom: 4rem;
  }

  nav span span {
    font-weight: bold;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  main {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  main section div {
    text-align: left;
  }

  main img {
    width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  h5 {
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-top: 1rem;
  }
 h6 {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 1rem;
 }
  section div {
    border-left: 1px solid #ffd977;
    padding-left: 1rem;
    margin-top: 2rem;
  }

  section div span {
    color: #b5460f;
    display: block;
  }

  a {
    color: #177;
  }

  article {
    text-align: left;
  }

  article h2 {
    border-bottom: 1px solid rgb(197, 243, 243);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-weight: 100;
  }

  ul {
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }