* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-img-top {
    height: 450px;
    object-fit: cover;
}

.card-title {
    height: 70px;
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.8rem 4px 3px rgba(185, 185, 185, 0.7);
    transition: 0.8s;
}

.card-text {
    height: 120px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-style: stable; */
}

.card {
    cursor: pointer;
}