html {
  font-size: 10px;
}

body {
  text-align: center;
  margin: 0;
  color: #333;
  background-color: whitesmoke;
  font-family: Georgia, serif;
}

header img {
  width: 400px;
  margin: 1rem;
}

nav {
  background-color: #fefbf1;
  padding: 1rem 0;
  border-top: 1px solid #ffd977;
  color: #004d4d;
  font-size: 0.8rem;
  margin-bottom: 4rem;
}

#fabolous {
}
.navigation {
  color: blue;
}

nav span span {
  font-weight: bold;
  color: green;
}

nav span {
  color: red;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  width: 50%;
  margin: auto;
}

main img {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

h5 {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: 1rem;
}

section div {
  border-left: 1px solid #ffd977;
  padding-left: 1rem;
  margin-top: 2rem;
}

section div span {
  color: #b5460f;
  display: block;
}

a {
  color: #177;
}
article h2 {
  border-bottom: 1px solid rgb(197, 243, 243);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight: 100;
}
article {
  font-size: 16px;
}

ul {
  margin-bottom: 2em;
}

li {
  margin-bottom: 1rem;
  width: auto;
}

li:first-child {
  width: fit-content;
  margin: auto;
}

li::marker {
  color: red;
}

#navEsempio {
  font-size: 3rem;
}

#navEsempio span:last-child {
  font-weight: 700;
}
